@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
	box-sizing: border-box;
}

body {
	background-color: #f3d05c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: Figtree;
	font-weight: 500;
	font-size: 16px;
}
.section {
	text-align: center;
	background-color: white;
	border: 1px solid black;
	box-shadow: 5px 5px black;
	border-radius: 5%;
	padding: 15px;
	margin: 10px;
}

.illustrationImg img {
	width: 100%;
	border-radius: 5%;
}
.illustrationImg {
	padding-bottom: 20px;
}
.leraning {
	background-color: #f3d05c;
	display: flex;
	width: max-content;
	padding: 10px;
	font-weight: 800;
	border-radius: 0.3rem;
}
.published {
	padding-top: 15px;
	padding-bottom: 15px;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: start;
}
.container p {
	text-align: start;
	font-size: 16px;
	color: hsl(0, 0%, 50%);
	margin-top: 10px;
}
.greg {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: 800;
}
.name {
	display: flex;
	align-items: end;
}
.footer {
	position: fixed;
	bottom: 0;
	height: 20px;
}
h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}
h1:hover {
	color: rgb(196, 196, 57);
}
